<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>$title$ - Kyle Ondy </title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <!-- RSS. -->
        <link rel="alternate" type="application/rss+xml" title="Kyle Ondy - a personal blog" href="https://kyleondy.com/feed.xml" />

        <!-- Metadata. -->
        <meta name="keywords" content="Kyle Ondy,blog,programming,coding,haskell,function,personal,homepage"/>
        <meta name="description" content="Thoughts and writing about functional programing."/>
    </head>
    <body>
        <div id ="navigation">
            <a href="/"><img src="/images/logo.png" atl="Kyle Ondy" /></a>
            <a href="/hire">Hire Me</a>
            <a href="/posts">Posts</a>
            <a href="/notes">Notes</a>
            <a href="/contact">Contact</a>
            <a href="/pgp">PGP</a>
            <a href="/cv">CV</a>
            <h1>Links</h1>
            <a href="https://github.com/kyleondy">GitHub</a>
            <a href="https://twitter.com/kyleondy">Twitter</a>
            <a href="https://keybase.io/kyleondy">Kaybase.io</a>
            <a href="https://www.linkedin.com/in/kyleondy">LinkedIn</a>
        </div>

        $body$

    </body>
</html>
