<!doctype html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Kyle Ondy - $title$</title>
      <!-- todo: description -->
      <meta name="description" content="">
      <meta name="author" content="Kyle Ondy">

      <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <!-- todo: pull locally -->
          <link href="https://fonts.googleapis.com/css?family=Prata|Raleway:300,400,600" rel="stylesheet">

          <!-- CSS
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="/css/syntax.css">
            <link rel="stylesheet" href="/css/site.css">

            <!-- Favicon
              –––––––––––––––––––––––––––––––––––––––––––––––––– -->
              <link rel="icon" type="/image/x-icon" href="/images/favicon.ico">

              <!-- todo: mathjx -->
              <!-- todo: rss/atom -->
              <!-- todo: keywords/meta -->

              <!--
                Yes... It is tracking. But only a bit, and hosted locally so it isn't shared with the big corps
              -->
              <!-- Matomo -->
              <script type="text/javascript">
                var _paq = _paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                  var u="//analytics.ondy.me/";
                  _paq.push(['setTrackerUrl', u+'piwik.php']);
                  _paq.push(['setSiteId', '1']);
                  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
              </script>
              <!-- End Matomo Code -->
  </head>
  <body>
    <header class="site-header">
      <nav>
        <h3 id="logo"><a href="/">Kyle Ondy.</a></h3>
        <a href="/about">About</a> //
        <a href="/hire">Hire Me</a> //
        <a href="/posts">Posts</a> //
        <a href="/notes">Notes</a> //
        <a href="/contact">Contact</a> //
        <a href="/pgp">PGP</a>
      </nav>
    </header>
    <hr />
    <main role="main">
    $body$
    </main>
    <hr />
    <footer class="site-footer">
      <p>
      KyleOndy.com is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      <br />
      All code is released under the <a href="/about#simplified-bsd-2-clause-license">BSD (2-Clause) License</a>.
      </p>
    </footer>
  </body>
</html>
