h1, h2, h3 {
    margin: 0px 0px 18px 0px;
    padding: 24px 0px 0px 0px;
}

p, ul {
    margin: 18px 0px 18px 0px;
}

img {
    margin: 12px 0px 12px 0px;
    max-width: 100%;
}

ul {
    padding-left: 18px;
}

div#footer {
    margin: 60px 0px 36px 0px;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.75;
}

body {
    color: #333;
}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

div.figure a{
    border: none;
}

a img {
    margin-bottom: 0px;
}

pre {
    font-size: 14px;
    margin-left: 18px;
    overflow: auto;
}

pre code {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

code {
    background-color: #e6e6e6;
    padding: 0px 4px 0px 4px;
    margin: 0px 2px 0px 2px;
    color: black;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

blockquote {
    background: #e6e6e6;
    font-style: italic;
    margin-left: 18px;
    padding: 6px 6px 6px 54px;
}

.soft, .caption {
    font-style: italic;
    color: #555;
}

div.figure {
    text-align: center;
}

div.figure p {
    margin-top: 6px;
}

a.footnoteRef {
    border: none;
}

a.footnoteRef sup:before {
    content: "(";
}

a.footnoteRef sup:after {
    content: ")";
}

a.footnoteRef sup {
    padding: 2px;
}

div.footnotes {
    color: #555;
    border-left: 1px dashed #555;
}

div.footnotes hr {
    display: none;
}

div#footer {
    font-size: 14px;
}

/*
  Taken from http://www.jimmyscode.com/css-styling-for-kbd-tags/
 */
kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

div.sourceCode {
  background: #eee;
  margin: 16px;
  padding: 6px;
}
