table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: none;
}

table.sourceCode {
    width: 100%;
    line-height: 100%;
}

td.lineNumbers {
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    color: #aaaaaa;
    border-right: 1px solid #aaaaaa;
}

td.sourceCode {
    padding-left: 5px;
}

code>span.kw {
    color: #333;
    font-weight: bold;
}

code>span.dt {
    color: #333;
    font-style: italic;
}

code>span.dv {
    color: #578;
}

code>span.bn {
    color: #578;
}

code>span.fl {
    color: #578;
}

code>span.ch {
    color: #578;
}

code>span.st {
    color: #578;
}

code>span.co {
    color: #777;
    font-style: italic;
}

code>span.ot {
    color: #333;
}

code>span.al {
    color: #a33;
    font-weight: bold;
}

code>span.fu {
    color: #333;
}

code>span.er {
    color: #a33;
    font-weight: bold;
}