/*
 * Based upon Skeleton V2.0.4 by Dave Gamache
 * Adpated for use for this site
 */

/* Base Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Coolors Exported Palette - coolors.co/ee6352-1c1c1c-08b5e5-fbfbfb-5dd9c1 */

$brand-black: rgba(28, 28, 28, 1);
$brand-white: rgba(251, 251, 251, 1);
$brand-orange: rgba(229, 158, 149, 1);
$brand-blue: rgba(149, 212, 229, 1);
$brand-green: rgba(155, 229, 149, 1);

$lighten-amount: 15;
$brand-light-blue: lighten($brand-blue, $lighten-amount);
$brand-light-orange: lighten($brand-orange, $lighten-amount);
$brand-light-green: lighten($brand-green, $lighten-amount);
$brand-light-black: lighten($brand-black, $lighten-amount*3);

$darken-amount: 30;
$brand-dark-blue: darken($brand-blue, $darken-amount);
$brand-dark-orange: darken($brand-orange, $darken-amount);
$brand-dark-green: darken($brand-green, $darken-amount);
$brand-dark-white: darken($brand-white, $darken-amount/2);

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}

body {
  /* Scale fonts here */
  font-size: 1.8em;
  max-width: 800px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: $brand-white;
  color: $brand-black;
  text-rendering: optimizeLegibility;
  text-align: justify;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.subtitle {
  color: $brand-light-black;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  hyphens: auto;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: $brand-dark-blue;
  text-decoration: none;
}
a:link:hover {
  color: $brand-blue;
}

.site-header a {
  color: $brand-black;
}

header a:hover {
  color: $brand-blue;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div.sourceCode {
  font-size: 80%;
  background: $brand-light-blue;
  border-left: 1em solid $brand-blue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd {
  font-family: "Source Code Pro", monospace;
}

/* for inline code wrapped in back ticks (`) */
p code {
  background: $brand-light-blue;
}

/* todo: px -> rem */
kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: 1.4rem;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  font-variant: small-caps;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

#logo {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-family: 'Prata', serif;
}

h1.title {
  margin-bottom: 0rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
*/

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid $brand-dark-blue;
  width: 95%;
}

.post-header {
  text-align: center;
}

/*
article h1 {
  text-align: center;
}
*/

blockquote {
  background: $brand-light-green;
  border-left: 1em solid $brand-green;
  margin: 1.5em 1em;
  padding: 0.5em 1em;
}

blockquote p {
  margin: 0.5em 0;
}

div.quote-attribution {
  text-align: right;
}

aside {
  background: $brand-light-orange;
  border-left: 1em solid $brand-orange;
  margin: 1.5em 1em;
  padding: 0.5em 1em;
}

.notice {
  background: $brand-light-blue;
  border-left: 1em solid $brand-blue;
  margin: 1.5em 1em;
  padding: 0.5em 1em;
}

.post-meta {
  font-size: 0.8em;
}

footer {
  text-align: center;
}

.site-footer {
  color: $brand-light-black;
  font-size: 0.8em;
  margin-top: 1em;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
 */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
